PORT=PORT
JWT_SECRET=tu_clave// Para este toca cera middleware
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=contra
DB_NAME=Names

//Este sirve para saber como hacer su verdadero .env y no enviar credenciales al repo