//Este .env es la plantilla de todas las variables de entorno que se deben configurar en el proyecto.

// PORT=3000
// DB_HOST=localhost
// DB_USER=root
// DB_PASSWORD=CONTRASEÑA
// DB_NAME=CONFIGURAR_NOMBRE_DE_LA_BASE_DE_DATOS
// JWT_SECRET=mi_clave_secreta_super_segura_amen
// JWT_EXPIRES_IN=2h


// //Lo correspondiente a Firebase
// FIREBASE_STORAGE_BUCKET=tu-proyecto-id.appspot.com
// GOOGLE_APPLICATION_CREDENTIALS=./ruta/a/tu-service-account.json